footer {
    background-color: #f8f8f8;
    color: grey;
    padding: 15px;
    width: 100%;
    bottom: 0;
    margin-top: 15px;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #cccccc;
}